<div class="d-flex flex-column fixed-top flex-md-row align-items-center p-2 px-md-2 mb-2 bg-white border-bottom shadow-sm justify-content-between">
    <img src="assets/images/logo.png" alt="Logo company" id="logo-company">
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 item-nav" routerLink="">Inicio</a>
      <a class="p-2 item-nav" routerLink="/catalogo">Tienda</a>
      <a class="p-2 item-nav" routerLink="/carrito">Carrito</a>
      <a class="p-2 item-nav" routerLink="/product">Gestion Productos</a>
      <a class="p-2 item-nav" href="#">Contactenos</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-primary" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
    </div>
  </div>