.img-size{
    height: 250px;
}

.img-modal{
    height: 250px;
    width: 250px;
}
.col-product{
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    .viewMovil{
        margin-top: 90px;
    }
}

@media only screen and (max-width: 518px) {
    .viewMovil{
        margin-top: 120px;
    }
}

.movCar{
    cursor: default;
    transition: all 400ms ease;
}

.movCar:hover{ 
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
figure{
    cursor: pointer;
}

figure .capa a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color:transparent;
    border: none;    
}